html,
body,
figure { background-color: #111 }

html,
body,
.bouton,
.bouton:any-link { color: #efefef }

form a,
.bouton,
input,
button,
.courant,
.mois:hover,
.mois:focus,
.mois:active,
.décade:hover,
.décade:focus,
.décade:active,
.jour:hover,
.jour:focus,
.jour:active,
form select,
form select option,
.option-bouton input:checked + label {
	background-color: #303030;
	color: #efefef;
}

table th {
	border-color: #efefef;
}

table tr:nth-child(2n) > td {
	background-color: #222;
}

*::selection {
	background-color: #484848;
	color: #efefef;
}

select.select-options,
.option-bouton input + label { border-color: #303030 }

@media only screen and (min-width: 1025px) {
	figcaption { background-color: #333d; }
}

a:link { color: #dfdfdf }
a:visited { color: #bfbfbf }
