@font-face {
	font-family: "Italiano";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Italiano"), local("Italiano-Regular"), url("./polices/Italiano.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Italiano";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Italiano"), local("Italiano-Regular"), url("./polices/Italiano étendue.woff2") format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

* { box-sizing: border-box; }

body {
	margin: 0;
	font-size: 2em;
	text-align: center;
}

body,
form a,
form input,
form select,
form button,
/* Ne fonctionne pas pour les options */
form select option { font-family: "Italiano", "Times New Roman", "Verdana", "Arial"; }

main { display: flex; }

main > div { width: 50%; }
main > div:only-child { width: 100%; }

hr {
	width: 100%;
	margin: 0 auto;
}

main > div,
figure {
	display: flex;
	justify-content: center;
	/*
	Autre solution envisageable, au problème commenté ci-après, mais non implanté dans les navigateurs pour le moment
	justify-content: safe center;
	*/
	align-items: stretch;
}

main > div:first-child { justify-content: flex-start; }

main > div {
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

kbd,
code,
samp { font-size: .5em; }

table {
	margin: 1rem 0;
	width: 100%;
	border-collapse: collapse;
}

table th,
table td { border: 1px solid; }

table th {
	background-color: #404040;
	border-color: #000;
	color: #fff;
}

table tr:nth-child(2n) > td {
	background-color: #f0f0f0;
}

.bande { padding: .75rem; }

.enveloppe {
	overflow-x: auto;
	overflow-y: auto;
	scrollbar-width: thin;
}

.défilable {
	padding: 0;
	overflow-x: auto;
	flex-shrink: 0;
	scrollbar-width: thin;
}

.défilable .enveloppe {
	min-width: 100%;
	padding: .75rem;
	display: flex;
	justify-content: center;
	float: left;
}

.gap-h,
.gap-v { gap: 1rem; }

@supports not (gap: 1rem) {
	.gap-h > * { margin: 0 .5rem; }
	.gap-v > * { margin: .5rem 0; }
	.gap-h > *:first-child { margin-left: 0; }
	.gap-h > *:last-child { margin-right: 0; }
	.gap-v > *:first-child { margin-top: 0; }
	.gap-v > *:last-child { margin-bottom: 0; }
}

#contenu {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	padding: 2.5rem;
	overflow-y: hidden;
}

#contenu.haut { justify-content: flex-start; }

#contenu.bas { justify-content: flex-end; }

#contenu .enveloppe {
	margin: -2.5rem;
	padding: 1.25rem;
}

#contenu .caché { display: none; }

.texte {
	 text-align: justify;
	 text-indent: 3rem;
}

.ligne {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rétréci {
	flex-grow: 0;
	align-self: center;
}

#contenu .enveloppe > *:last-child,
#contenu.formulaire > *:last-child { margin-bottom: 2.5rem; }

#contenu ul { text-indent: unset; }

form > div {
	display: flex;
	margin: 0 .5rem;
	align-items: stretch;
}

.options {
	display: flex;
	flex-direction: column;
}

.option-bouton {
	margin-bottom: 1rem;
	flex-grow: 1;
}

.option-bouton input { display: none; }

.option-bouton input + label {
	cursor: pointer;
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: .25rem;
	border: 1px solid #dfdfdf;
	border-radius: .5rem;
	transition: .25s background-color;
}

.option-bouton input:checked + label {
	background-color: #dfdfdf;
	border-color: transparent;
}

form input,
.input-options,
form select,
.select-options {
	padding: .25rem;
	border-radius: .5rem;
	border: 1px solid #dfdfdf;
}

form select,
.select-options { cursor: pointer; }

hr ~ form button,
.options ~ button { margin: 1.5rem; }

.calendrier-mois,
.calendrier-décade {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.calendrier-an {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

@media only screen and (max-width: 1704px) {
	.calendrier-an { grid-template-columns: repeat(4, 1fr); }
}

@media only screen and (max-width: 1152px) {
	.calendrier-an { grid-template-columns: repeat(3, 1fr); }
}

@media only screen and (max-width: 876px) {
	.calendrier-an { grid-template-columns: repeat(2, 1fr); }
}

@media only screen and (max-width: 600px) {
	.calendrier-an { grid-template-columns: repeat(1, 1fr); }
}

.calendrier-an-fixe .titre {
	margin: 0;
	font-size: 1em;
}

.mois {
	display: grid;
	grid-template-rows: auto 1fr;
}

.mois,
.décade,
.jour {
	color: inherit;
	text-decoration: none;
}

.décade,
.jour { border-radius: .25rem; }

.courant,
.mois:hover,
.mois:focus,
.mois:active,
.décade:hover,
.décade:focus,
.décade:active,
.jour:hover,
.jour:focus,
.jour:active { background-color: #ccc; }

.mois .affiche img { width: 100%; }

.mois .corps {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.décade.sansCulottides {
	display: block;
	margin: 1rem 0;
	padding: .5rem 0;
}

h1, h2, h3 {
	margin: 1.5rem;
	font-weight: normal;
}

.explorateur {
	display: flex;
	flex-direction: row;
	align-items: center;
}

form label { align-self: center; }

form > div > * { margin: 0 .33rem; }

form input {
	padding: .5rem .25rem;
	border: 1px solid #99a;
	border-radius: .33rem;
}

.car-1 { width: 1.65em; }
.car-2 { width: 2em; }
.car-4 { width: 2.75em; }

.rond,
.bouton.rond {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	align-self: center;
	width: 2.5rem;
	height: 2.5rem;
}

form a,
.bouton,
button {
	cursor: pointer;
	user-select: none;
	text-decoration: none;

	display: inline-block;
	padding: .5rem;
	border: 1px solid #99a;
	border-radius: .33rem;

	color: #000;
	background-color: #fff;
	transition: color, background-color .25s ease-in-out;
}

form a:hover,
.bouton:hover,
button:hover {
	color: #fff;
	background-color: #667;
}

form a,
form input,
form select,
form button,
.bouton { font-size: .9em; }

figure {
	margin: 0;
	position: relative;
	display: block;
	overflow: hidden;
	background-color: #cdc;
}

figure a {
	font-size: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	max-width: 100%;
	max-height: 100%;
}

pre {
	text-align: left;
	margin: .5rem 1rem;
}

@media only screen and (min-width: 1025px) {
	figcaption {
		text-align: left;
		width: calc(100% - 2rem);
		margin: 1rem;
		padding: 1rem;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: .5rem;
		background-color: #fffd;
		transition: opacity .25s ease-in-out;
	}

	figure a:hover + figcaption { opacity: .33; }
}

@media only screen and (max-width: 1024px) {
	html { font-size: .9rem; }

	main { flex-direction: column; }

	main > div {
		width: unset;
		min-height: 100vh;
		height: unset;
		max-height: unset;
	}

	main > div #contenu { max-height: unset; }

	#programmerHeure form { flex-direction: column; }

	#programmerHeure form {
		justify-content: stretch;
		align-items: stretch;
	}

	#programmerHeure form > div { margin: .5rem; }

	form input { flex-grow: 1; }

	figure img {
		padding: 1rem;
		max-width: 100%;
		max-height: 100%;
	}

	figcaption {
		padding: 1rem;
		text-align: left;
	}

	#descriptionMois { text-align: center; }
}

/* Swup */

.transition-fade {
	transition: .15s;
	opacity: 1;
}

html.is-animating .transition-fade { opacity: 0; }
